.text-xxs {
  font-size: var(--text-xxs);
}
.text-xs {
  font-size: var(--text-xs);
}
.text-sm {
  font-size: var(--text-sm);
}
.text-base {
  font-size: var(--text-base);
}
.text-lg {
  font-size: var(--text-lg);
}
.text-xl {
  font-size: var(--text-xl);
}
.text-2xl {
  font-size: var(--text-2xl);
}
.text-3xl {
  font-size: var(--text-3xl);
}
.text-4xl {
  font-size: var(--text-4xl);
}
.text-5xl {
  font-size: var(--text-5xl);
}
.text-6xl {
  font-size: var(--text-6xl);
}

.fw-light {
  font-weight: var(--font-light);
}
.fw-normal {
  font-weight: var(--font-normal);
}
.fw-medium {
  font-weight: var(--font-medium);
}
.fw-semibold {
  font-weight: var(--font-semibold);
}
.fw-bold {
  font-weight: var(--font-bold);
}
.fw-extrabold {
  font-weight: var(--font-extrabold);
}

.font-white {
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
