.btn-primary {
    padding: 18px 32px;
  border-radius: 32px;
  background: #402274;
  box-shadow: 0 4px 26px 0 rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: var(--font-lx);
  font-weight: 500;
  cursor: pointer;
}
